# Configuración del Podcast
PODCAST_DOMAIN=podgaku.jdlcgarcia.es
PODCAST_EPISODES_PATH=/episodes
PODCAST_RSS_PATH=/rss.xml

# Credenciales FTP
FTP_HOST=ftp.podgaku.jdlcgarcia.es
FTP_USERNAME=tu_usuario_ftp
FTP_PASSWORD=tu_contraseña_ftp
FTP_PORT=21
FTP_EPISODES_DIR=/var/www/podgaku.jdlcgarcia.es/episodes
FTP_RSS_PATH=/var/www/podgaku.jdlcgarcia.es/rss.xml
